doctype strict
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Bienvenido a TEAM-1.CO!
        style
            include ./../style.css
    body
        h2 ¡Hola, estamos felices de verle en TEAM-1.CO!
        p Ahora podrá hacer que sus reuniones sean más eficientes y obtener una visión profunda de sus actuaciones.
        h3 ¿Cómo empezar?
        ul
            li Active su cuenta haciendo clic en lo siguiente 
                a(href=link) ENLACE
            li Establece su contraseña
            li Comience a programar sus reuniones
        p.note Este enlace funcionará durante 24 horas.
        p ¿Tiene preguntas? Por favor, revise el 
            a(href="#") página de preguntas frecuentes 
            | . Si no puede encontrar la respuesta allí, contáctenos en 
            a(href="mailto:support@team-1.co") support@team-1.co
        hr
        p TEAM-1.CO
        img(src="cid:logo")