doctype strict
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Bienvenue sur TEAM-1.CO!
        style
            include ./../style.css
    body
        h2 Bonjour! Nous sommes ravis de vous accueillir sur TEAM-1.CO!
        p Vous pourrez désormais tenir des réunions plus efficaces et obtenir un aperçu approfondi des performances des réunions.
        h3 Premières étapes?
        ul
            li Activer votre compte en cliquant sur le lien qui suit  
                a(href=link) LIEN
            li Connectez vous sur votre compte
            li Ajoutez vos collègues et chacun d'eux recevra un courriel d'invitation
            li Commencez à planifier vos réunions
        p.note Ce lien fonctionnera pendant 24h.
        P Avez-vous des questions ? Veuillez consulter la 
            a(href="#") page FAQ
            | . Si vous ne trouvez pas de réponse, contactez-nous à 
            a(href="mailto:support@team-1.co") support@team-1.co
        hr
        p Cordialement, 
        p TEAM-1.CO
        img(src="cid:logo")